/* Start Footer */
.footer {
  @media #{$max-Small} {
    text-align: center;
  }
  background-color: #191919;
  padding: 70px 0 0;
  .container {
    @extend %container-drid-display;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    .box {
      h3 {
        color: white;
        font-size: 50px;
        margin: 0 0 20px;
      }
      .social {
        @media #{$max-Small} {
          justify-content: center;
        }
        display: flex;
        li {
          margin-right: 10px;
          a {
            background-color: #313131;
            @include flexSystem;
            color: #b9b9b9;
            display: inline-flex;
            width: 50px;
            height: 50px;
            font-size: 20px;
            transition: $min-transition;
          }
          .facebook {
            &:hover {
              background-color: #1877f2;
            }
          }
          .twitter {
            &:hover {
              background-color: #1da1f2;
            }
          }
          .linkedin {
            &:hover {
              background-color: #1089ad;
            }
          }
          .youtube {
            &:hover {
              background-color: #ff0000;
            }
          }
        }
      }
      .links {
        li {
          padding: 15px 0;
          transition: $min-transition;
          &:hover {
            padding-left: 10px;
            a {
              color: white;
            }
          }
          &:not(:last-child) {
            border-bottom: 1px solid #444;
          }
          a {
            color: #b9b9b9;
            transition: $min-transition;
            &::before {
              content: "\f101";
              font : {
                weight: 900;
                family: "Font Awesome 5 Free";
              }
              margin-right: 10px;
              color: $min-color;
            }
          }
        }
      }
      .line {
        @media #{$max-Small} {
          flex-direction: column;
        }
        @include flexSystem;
        justify-content: start;
        color: #b9b9b9;
        margin-bottom: 30px;
        i {
          @media #{$max-Small} {
            margin-bottom: 10px;
          }
          font-size: 25px;
          color: $min-color;
          margin-right: 10px;
        }
        .info {
          line-height: $min-line-height;
          flex: 1;
          span {
            display: block;
          }
        }
      }
      img {
        width: 82px;
        border: 3px solid white;
        margin: 2px;
      }
      .text {
        color: $paragraph-color;
      }
    }
  }
  .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid;
    i {
      color: red;
    }
  }
}
/* End Footer */
